{
  "include": [ "src/**/*" ],
  "exclude": [
    ".coverage",
    ".nyc_output",
    ".vscode",
    "dist",
    "node_modules",
    "src/app.tsx",
    "src/entry.ts",
    "src/assets/**/*",
    "src/scss/**/*",
    "src/modules/createStore.ts",
    "src/**/*.test.(ts|tsx|js|jsx)"
  ],
  "extension": [ ".tsx", ".ts" ],
  "require": [ "./.preMocha.js" ],
  "silent": false,
  "cache": true,
  "check-coverage": true,
  "lines": 30,
  "statements": 30,
  "functions": 25,
  "branches": 10,
  "reporter": [ "lcov", "text-summary", "html" ],
  "report-dir": "./.coverage",
  "all": true
}